.logo {
    display: block;
    margin: 0 auto; 
    width: 500px; 
    height: auto;
}

form {
    text-align: center;
    margin-top: 20px;
}

form label {
    font-size: 1em;
    font-family: 'Arial';
    margin: 0; 
}

form input[type="text"] {
    display: block; 
    margin: 10px auto; 
    padding: 5px;
    font-size: 1em;
    width: 300px;
}

form p {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
    margin: 10px 0; 
}

form input[type="radio"] {
    margin: 0 5px 0 0; 
}