.centered-image {
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    text-align: center;
}

.centered-text {
    text-align: center;
    margin-top: 10px; 
    font-size: 16px;
    color: #333; 
}

.centered-heading {
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
    margin-top: 10px; 
}

.centered-subheading {
    text-align: center;
    font-size: 18px; 
    font-style: italic;
    margin-top: 5px; 
}

form {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}